body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.hide-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;     /* Firefox */
}

slider-container {
  overflow-x: hidden;   /* scrollbar ko chupane ke liye */
}

 @keyframes scroll {
          0% { transform: translateX(0); }
          100% { transform: translateX(-50%); } /* half width since we doubled */
        }
        .animate-scroll {
          animation: scroll 25s linear infinite;
        }




.banner-container {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
}

.banner-item {
  flex: 0 0 100%;
  scroll-snap-align: start;
}

/* Chrome, Safari, Edge ke liye */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar but keep scroll functionality */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none; /* IE + Edge */
  scrollbar-width: none; /* Firefox */
}
/* Hide scrollbar but keep scroll functionality */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none; 
  scrollbar-width: none; 
}

section {
  scroll-margin-top: 80px; /* Adjust for your fixed navbar height */
}

